* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #32292F;
  color: #FAFAFF;
  font-family: 'Overpass Mono', monospace;
}

#word-counter {
  text-align: right;
  margin-bottom: 5px;
}

#outer {
  margin: 100px auto 0 auto;
  max-width: 600px;
}

#inner textarea {
  background: none;
  border: 2px #FF3366 solid;
  color: #e5e5e5;
  font-size: 16px;
  height: 200px;
  outline: none;
  padding: 10px;
  resize: none;
  width: 100%;
}

.btn:hover {
  background: #ff3465;
  color: #ffffff;
}

.btn {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  background: none;
  border: 3px solid #FF3366;
  color: #FF3366;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 15px 15px 0 0;
  outline: none;
  padding: 15px 60px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s;
}

#output {
  font-size: 2em;
  height: 2em;
  line-height: 2em;
  margin: 100px auto 0 auto;
  text-align: center;
  width: 50%;
}

#wpm-dropdown {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border-radius: 0px;
  border: 3px solid #FF3366;
  color: #FF3366;
  font-family: inherit;
  font-size: inherit;
  height: 55px;
  outline: none;
  text-align-last: center;
  text-align: -webkit-center;
  text-transform: uppercase;
  width: 188px;
}

#word-container {
  width: 210px;
  margin: 0 auto 0 auto;
  text-align: center;
}

#word-container #pre,
#word-container #post {
  display: inline-block;
  max-width: 90px;
  width: 100%;
}

#word-container #pre {
  text-align: right;
}

#word-container #highlight {
  display: inline-block;
  position: static;
  color: #FF3366;
}

#word-container #post {
  text-align: left;
}
